# Object files
*.o

# Libraries
*.lib

# Shared objects
*.dll
*.so

# Executables
*.out

# Editors
*~
\#*\#

# Unix hidden files
.*
!.gitignore

# The BKIT directory
BKIT/

# The build trace
UTIL/build_trace.txt